.user-agreement {
  position: relative;

  // padding-left: 15px;

  font-size: 12px;
}

.user-agreement label {
  padding-left: 15px;
}

.user-agreement__link {
  color: #558cb7;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 38px;
  left: 0;

  width: 11px;
  height: 11px;

  border: 1px solid #dddddd;
  border-radius: 2px;

  &:hover {
    border-color: #558cb7;
  }
}

input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #558cb7;
}

input[type="checkbox"]:checked + .checkbox-indicator {
  background-color: #558cb7;

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;

    width: 8px;
    height: 4px;

    border: 3px solid #ffffff;
    border-top: none;
    border-right: none;
    transform: rotate(-50deg) scale(0.75);
  }
}
