$err-color: #9f2b11;
$success-color: #007b1b;

.password-hints {
  color: #777777;
}

.password-hints__title {
  font-size: 12px;
  line-height: 14px;
  margin: 5px 0;
}

.password-hints__list {
  list-style: none;
  margin: 0;

  padding: 0;
}

.password-hints__item {
  position: relative;
  padding-left: 20px;
  line-height: 14px;
  font-size: 12px;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid #777777;
  }
}

.password-hints__item--error {
  color: $err-color;

  &::before {
    border-color: $err-color;
    background: url("../img/error-sign.svg") no-repeat center white;
  }
}

.password-hints__item--success {
  color: $success-color;

  &::before {
    border-color: $success-color;
    background: url("../img/success-sign.svg") no-repeat center white;
  }
}
